<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN" "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8" />
    <property name="severity" value="error" />
    <module name="RegexpMultiline">
        <property name="format" value="\brecord\s+\w+\s*\([^)]*\[\]" />
        <property name="matchAcrossLines" value="true" />
        <property name="message" value="Arrays must not be record components; use an immutable class with deliberate equality semantics." />
    </module>
    <module name="TreeWalker">
        <module name="ArrayTypeStyle" />
        <module name="AvoidStarImport" />
        <module name="CovariantEquals" />
        <module name="DefaultComesLast" />
        <module name="EmptyCatchBlock">
            <property name="commentFormat" value="(?s).+" />
            <property name="exceptionVariableName" value="^(ignored|expected)$" />
        </module>
        <module name="EqualsHashCode" />
        <module name="FallThrough" />
        <module name="IllegalCatch">
            <property name="illegalClassNames" value="java.lang.Error, java.lang.Throwable" />
        </module>
        <module name="IllegalImport">
            <property name="illegalPkgs" value="com.sun, jdk.internal, sun" />
        </module>
        <module name="InnerAssignment" />
        <module name="MissingOverride" />
        <module name="ModifiedControlVariable" />
        <module name="NoFinalizer" />
        <module name="OneTopLevelClass" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />
        <module name="SuperClone" />
        <module name="SuperFinalize" />
    </module>
</module>
